<a [routerLink]="['/projects']">Back</a>
<br>
<h2 class="page-header">Edit Task</h2>

<form (submit)="onEditSubmit()">
  <div class="form-group">
    <label>Title</label>
    <input class="form-control" type="text" [(ngModel)]="title" name="title" required>
  </div>
  <!-- <div class="form-group">
    <label>Description</label>
    <input class="form-control" type="text" [(ngModel)]="description" name="description" required>
  </div> -->
  <div class="form-group">
      <label for="textArea" class="control-label">Description</label>
      <div>
        <textarea class="form-control" rows="3" id="textArea" [(ngModel)]="description" name="description" required>
        </textarea>
      </div>
    </div>
  <div class="form-group">
    <label>Type</label>
    <input class="form-control" type="text" [(ngModel)]="type" name="type" required>
  </div>
  <div class="form-group">
    <label>Priority</label>
    <select class="form-control" type="text" [(ngModel)]="priority" name="priority" required id="select">
          <option>high</option>
          <option>middle</option>
          <option>low</option>
          <option>irrelevant</option>
    </select>
  </div>
  <div class="form-group">
    <label>Task done ?</label><br>
    <input type="checkbox" [(ngModel)]="isDone" name="isDone">
  </div>
  <input type="submit" value="Submit" class="btn btn-success">
</form>