<div *ngIf="project">
    <a [routerLink]="['/projects']">Go Back</a>
    <br>
    <div class="row">
        <div class="col-md-8">
            <br>
            <h2><strong>{{project.title}}</strong></h2>
        </div>
        <div class="col-md-2">
            <br>
            <div class="well">
                <strong> Priority: {{project.priority}} </strong>
            </div>
        </div>
    </div>
        <h2><small>{{project.description}}</small></h2>
    <br>
<div><h4>Workers: {{project.workers}}</h4></div>
    <div class="row">
        <div class="col-md-8">
            <ul class="list-group">
                <!-- <li class="list-group-item"><strong>Title: </strong>{{project.title}}</li> 
                <li class="list-group-item"><strong>Description: </strong>{{project.description}}</li>
                <li class="list-group-item"><strong>Priority: </strong>{{project.priority}}</li> -->   
            </ul>
            <h3 class="page-header"><strong>Tasks in this Project:</strong></h3>

            <ng-container *ngFor="let task of tasks">
                <li class="list-group-item" *ngIf="task.project == project.title">
                    <a [routerLink]="['/task/'+task.$key]">{{task.title}}
                     <span class="label label-success" *ngIf="task.isDone" style="float: right">&#10004;&nbsp;Done</span>
                     <span class="label label-warning" *ngIf="task.isDone==false" style="float: right">&#9998;&nbsp;In progress</span>
                
                    
                    </a>
                </li>
            </ng-container>

        </div>
        <div class="col-md-4">
            <h3><strong>Actions:</strong></h3>
            <a class="btn btn-default" [routerLink]="['/edit-project/'+project.$key]">Edit Project</a>
            <br>
            <br>

            <form (submit)="onAddUser()">
            <select class="form-control" id="select" [(ngModel)]="worker" name="priority">
                <option *ngFor="let user of users">{{user.name}}</option>
            </select>
            <input type="submit" value="Assign User" class="btn btn-default">
            <input type="submit" value="Reassign User" class="btn btn-danger">
            </form>

            <br>
            <br>
            <a class="btn btn-success" [routerLink]="['/add-task']">New Task</a>
            <br>
            <br>
            <a (click)="onDeleteClick()" class="btn btn-danger">Delete Project</a>
        </div>
    </div>
</div>