<div class="jumbotron text-center">
  <div class="container">
    <h1>Projectmanagement</h1>
    <p>Projectmanagement at its finest!</p>
    <a *ngIf="!(af.auth | async)" (click)="login()" class="btn btn-primary btn-lg">Use now!</a>
  </div>
</div>
<div class="container row">
  <div class="col-md-6">
      <h2>Current Functionalities: </h2>
      <ul class="list-group">
      <li class="list-group-item"><span class="label label-success">&#10004;&nbsp;Done</span>&nbsp;Adding a Project and:
        <ul class="list-group">
          <br>
            <li class="list-group-item">give it a name</li>
            <li class="list-group-item">give it a description</li>
        </ul>
      </li>
        <li class="list-group-item"><span class="label label-success">&#10004;&nbsp;Done</span>&nbsp;Editing an existing project</li>
        <li class="list-group-item"><span class="label label-success">&#10004;&nbsp;Done</span>&nbsp;Deleting an existing project</li>
        <li class="list-group-item"><span class="label label-success">&#10004;&nbsp;Done</span>&nbsp;Creating Tasks and add them to projects
        <ul class="list-group">
          <br>
          <li class="list-group-item">give task a title</li>
          <li class="list-group-item">give tasks a description</li>
          <li class="list-group-item">give tasks a type</li>
        </ul>
        </li>
        <li class="list-group-item"><span class="label label-success">&#10004;&nbsp;Done</span>&nbsp;Editing an existing task</li>
        <li class="list-group-item"><span class="label label-success">&#10004;&nbsp;Done</span>&nbsp;Deleting an existing task</li>
        <li class="list-group-item"><span class="label label-warning">&#10004;&nbsp;Done</span>&nbsp;Adding Users to your Project
        <ul class="list-group">
          <br>
          <li class="list-group-item">assign them to projects and tasks</li>
        </ul>
        </li>
      </ul>

      <h2>What's to come?</h2>
      <ul class="list-group">
        <li class="list-group-item"><span class="label label-warning">&#9998;&nbsp;WIP</span>&nbsp;Adding Users to your Project
        <ul class="list-group">
          <br>
          <li class="list-group-item">assign them to projects and tasks</li>
        </ul>
        </li>
      </ul>
      <br>
  </div>

  <div class="col-md-6">
    <h2>Have a look at the GitHub-Project for this application</h2>
     <a href="https://github.com/GrafHeinrich/ProMa"><img src="../assets/img/github_mark.png" class="center-block"></a>
  </div>
</div>