<div *ngIf="task">
    <a [routerLink]="['/project']">Go Back</a>
    <br>
    <h2 class="page-header"><strong>{{task.title}}</strong></h2>
    <h2><small>{{task.description}}</small></h2>
    <br>
    <div class="row">
        <div class="col-md-8">
            <ul class="list-group">
                <li class="list-group-item"><strong>Title: </strong>{{task.title}}</li> 
                <li class="list-group-item"><strong>Project: </strong>{{task.project}}</li> 
                <li class="list-group-item"><strong>Description: </strong>{{task.description}}</li>
                <li class="list-group-item"><strong>Type: </strong>{{task.type}}</li>
                <li class="list-group-item"><strong>Priority: </strong>{{task.priority}}</li>    
                <li class="list-group-item"><strong>Task Status: </strong>
                <span class="label label-success" *ngIf="task.isDone">&#10004;&nbsp;Done</span>
                <span class="label label-warning" *ngIf="task.isDone==false">&#9998;&nbsp;In progress</span>
                </li>       
            </ul>
        </div>
        <div class="col-md-4">
            <h3><strong>Actions:</strong></h3>
            <a class="btn btn-default" [routerLink]="['/edit-task/'+task.$key]">Edit Task</a>
            <br>
            <br>

            <form (submit)="onAddUser()">
            <select class="form-control" id="select" [(ngModel)]="worker" name="priority" >
                <option *ngFor="let username of usernames">{{ username }}</option>
            </select>
            <input type="submit" value="Assign User" class="btn btn-default">
            <input value="Reassign User" class="btn btn-danger" (click)="deleteUser()">
            </form>

            <br>
            <a (click)="onDeleteClick()" class="btn btn-danger">Delete Task</a>
        </div>
    </div>
</div>