<a [routerLink]="['/tasks']">Back</a>
<br>

<h2 class="page-header">Add Task</h2>

<h2 class="page-header">Create new Task</h2>


<form (submit)="onAddSubmit(project.$key)">
  <div class="form-group">
    <label>Title</label>
    <input class="form-control" type="text" [(ngModel)]="title" name="title" required>
  </div>
  <div class="form-group">
      <label for="textArea" class="control-label">Description</label>
      <div>
        <textarea class="form-control" rows="3" id="textArea" [(ngModel)]="description" name="description" required>
        </textarea>
      </div>
    </div>
  <div class="form-group">
    <label>Type</label>
    <input class="form-control" type="text" [(ngModel)]="type" name="type" required>

  </div>
  <div class="form-group">
    <label>Project</label>
    <select class="form-control" type="text" [(ngModel)]="project" name="project" required id="select">
          <option *ngFor="let project of projects"><a [routerLink]="['/project/'+project.$key]">{{project.title}}</a></option>
    </select>
  </div>
  
  <input type="submit" value="Submit" class="btn btn-success">
</form>
